@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #81c644;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.articles{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.articles .article{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.articles .article h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.articles .article p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.articles .article .article_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;


  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  
}

.articles .article .article_img img{
  width: 100px;
  height: 100px;
  padding: 0px;
}
